@import '~theme/colors';
@import '~theme/spacing';

.footer {
  align-items: center;
  display: flex;
  color: $text;
  height: 100px;
  width: 100%;
  padding: 0px 15px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.links{
  color: $text;
  font-size: 20px;
  padding-right: 15px;
}

.container{
  align-items: center;
  width: 100%;
  max-width: $xl;
  margin: 0px auto;
  justify-content: space-between;
  display: flex;
}
