// only use colors from this file, then I can change them globally when necessary

//feature colors
$lime: #AAE860;
$purple: #413952;
$orange: #FF9D31;
$yellow: #F4D556;
$red: #A33D3D;
$blue: #4D69A0;

//text colors

//grays
$white: #FFFFFF;
$bg-gray: #eeeeee;
$light-gray: #cccccc;
$text: #333333;
$black: #000000;


// list of all colors, used for css generation
$colors: (
  lime: $lime,
  purple: $purple,
  orange: $orange,
  yellow: $yellow,
  red: $red,
  blue: $blue,
  light-gray: $light-gray,
  white:$white,
  bg-gray: $bg-gray,
  dark-gray: $text,
);

$limeGradient: linear-gradient(to bottom, $lime 0%, $yellow 100%);

