@import '~theme/colors';
@import '~theme/spacing';

.categories{
  display: flex;
}

.white{
  background-color: $white;
  transition: background-color 300ms ease-out;
}

@each $color, $hex in $colors{
  .#{$color}{
    background-color: $hex;
    transition: background-color 500ms ease-out;
    min-height: 1000px;
    width: 100%;
  }
}

.thing{
  background-color: $blue;
  width: 100px;
  height: 300px;
}
