.row{
  display: flex;
  width: 100%;
  height:100%;
  flex-grow: 1;
}
.twoThirds{
  width:66.66%;
  flex-grow: 2;
}
.oneThird{
  width: 33.33%;
  // flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.text{
  width: 100%;
  height: 33.33%;
}

.link{
  // box-sizing: border-box;
  margin: 0px;
  width: 50%;
  height: 33.33%;
  border: 1px solid black;
}
