@import url("https://use.typekit.net/lov3zvv.css");
@import '~theme/colors';

*{
  box-sizing: border-box;
}

body {
  font-family: 'Proxima Nova';
  padding: 10px;
}


h1 {
  font-size: 36px;
  font-variant: light;
  margin: 0px;
  text-transform: uppercase;
  color: $text;
  letter-spacing: 5px;
}

a{
  color: $text;
  text-decoration: none;
}
