@import '~theme/colors';

.label{
  margin-right: 10px;
  font-weight: 600;
  &:hover{
    text-decoration: underline;
    cursor: pointer;
  }
}


.lime{
  @extend .label;
  &:hover{
    color: $lime;
    text-decoration: underline;
  }
}

.purple{
  @extend .label;
  &:hover{
    color: $purple;
    text-decoration: underline;
  }
}

.orange{
  @extend .label;
  &:hover{
    color: $orange;
    text-decoration: underline;
  }
}
