/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */
@import url("https://use.typekit.net/lov3zvv.css");
/*********************
BREAKPOINTS
*********************/
* {
  box-sizing: border-box; }

body {
  font-family: 'proxima-nova', 'Open Sans';
  padding: 0px;
  margin: 0px;
  background-color: #181818; }

h1 {
  font-size: 44px;
  font-weight: 100;
  margin: 0px;
  color: #FFFFFF;
  letter-spacing: 5px; }
  @media (min-width: 450px) {
    h1 {
      font-size: 44px;
      font-weight: 100;
      margin: 0px;
      color: #FFFFFF;
      letter-spacing: 5px; } }

h2 {
  font-size: 32px;
  font-weight: 800;
  margin-top: 40px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #333333;
  letter-spacing: 5px;
  line-height: 40px; }

a {
  color: #333333;
  text-decoration: none; }
