@import 'theme/colors.scss';
@import 'theme/spacing.scss';

.categories{
  display: flex;
}

.white{
  background-color: $white;
  transition: background-color 300ms ease-out;
}

// @each $color, $hex in $colors{
//   .#{$color}{
//     align-items: center;
//     display: flex;
//     background-color: $hex;
//     flex-direction: column;
//     transition: background-color 500ms ease-out;
//     height: 100vh;
//     width: 100%;
//   }
// }

.mainContainer{
  align-items: center;
  display: flex;
  background-color: $near-black;
  flex-direction: column;
  transition: background-color 500ms ease-out;
  height: 100vh;
  width: 100%;
}

